* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: auto 130vh; 
  height: 100vh;
}

body, button, input, select, textarea, a {
  color: #e8eef2;
}

.body-home {
  position:absolute;
  height: 200px;
  bottom: 0;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer  {
  height: 100px;
  margin: auto;
  width: 100%;
  text-align:center;
  padding:10px;
}

html {
  background: #494f5c;
  line-height: 1.6;
  letter-spacing: .06em;
  scroll-behavior: smooth;
}

.subtitle, .title {
  text-align: center;
}

.title, .footer {
  font-family: 'Source Code Pro', monospace;
}

.title {
  font-size: 4em;
}

.subtitle {
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  line-height: 2.4em;
}
